body{
    background-color: aliceblue;
    display:flex;
    align-items: center;
    justify-content: center;
}


#calculater{
  height:auto;
  width:400px;
}


#calculater-div{
   display: flex;
   flex-direction:column;
   align-items: center;


}


#screen{
    width:400px;
    height:auto;
    border:solid 2px black;
}


#display{
    background-color: rgb(20,20,20);
    width:400px;
    height:30px;

}

#result{
    background-color: rgb(20,20,20);
    width:400px;
    height:80px;
}

#buttons-div{
    border:solid 2px black;
    background-color:black;
    height:auto;
    width:400px;

}

#button-container{
    margin:10px;
    display:grid;
    grid-template-columns:90px 90px 90px 90px;
    grid-template-rows:60px 60px 60px 60px ;
    gap:10px;
}


.buttons{
    border:none;
    border-radius: 50%;
    height:60px;
    width:85px;
    background-color: rgb(20,20,20);
    display:inline;
    color:white;
    font-size: 30px;
    cursor:pointer;
}

.buttons.operators{
   background-color:orange;
}

#equalbutton{
    background-color: red;
}

@keyframes buttonhover{
    0%{
        background-color: rgb(20,20,20);
    }
    100%{
        background-color:rgb(30,30,30);
    }
}

.buttons:hover{
  background-color: rgb(30,30,30);
}

.buttons.operators:hover{
    background-color: rgb(255, 140,0);
}


#equalbutton:hover{
  background-color: rgb(244, 33, 33);
}